.Centered {
	text-align: center;
	color: #CCC;
	font-family: Arial, Helvetica, sans-serif;
}

.borderless_container {
	width: 95%;
	height: 95%;
	position: relative;
	margin: 5px;
}

.off {
	background-color: blue;
}

.on {
	background-color: yellow;
}

.Page_Title_2 {
	font-style: italic;
	font-family: Georgia;
}

.instructions {
	color: #999;
}

.button {
	width: 10em;
	height: 10em;
}